/* General page style */
body {
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #f0f0f0;
  padding: 20px;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  padding-bottom: 50px;
}

/* Footer styling */
.footer {
  color: #8E4EC6;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}
.find-us-buttons {
  color: #8E4EC6;
}
.find-us-buttons a {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin: 5px;
  display: inline-block;
}
.find-us-buttons a:hover {
  text-decoration: underline;
}
a.org-github {
  color: #fff;
}
a.org-discord {
  color: #6200f6;
}
a.open-source-notice {
  padding: 0px;
  border-radius: 0px;
  margin: 0px;
}

/* Text background */
.text {
  max-width: 800px;
  text-align: center;
  margin-bottom: 40px;
}

/* Project block styling */
.block {
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  text-align: center;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Vital block */
.block.vital {
  background-color: #8E4EC6;
}

/* NotEssential block */
.block.notessential {
  background-color: #2F34FE;
}

/* Translator block */
.block.translator {
  background-color: #2F34FE;
}

/* Ward block */
.block.ward {
  background-color: #01B477;
}

/* Bulb block */
.block.bulb {
  background-color: #E4306A;
}

/* Button styling */
a {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  margin: 5px;
  display: inline-block;
}

/* Vital Buttons */
a.vital-modrinth {
  background-color: #1BD96A;
  color: #ECF9FB;
}
a.vital-modrinth:hover {
  background-color: #8E4EC6;
  color: #1BD96A;
}
a.vital-github {
  background-color: #000;
  color: #fff;
}
a.vital-github:hover {
  background-color: #fff;
  color: #000;
}

/* NotEssential buttons */
a.notessential-site {
  background-color: #000;
  color: #2F34FE;
}
a.notessential-site:hover {
  background-color: #2F34FE;
  color: #000;
}
a.notessential-gallery {
  background-color: #000;
  color: #2F34FE;
}
a.notessential-gallery:hover {
  background-color: #2F34FE;
  color: #000;
}
a.notessential-source {
  background-color: #000;
  color: #fff;
}
a.notessential-source:hover {
  background-color: #fff;
  color: #000;
}
a.notessential-gallery-source {
  background-color: #000;
  color: #fff;
}
a.notessential-gallery-source:hover {
  background-color: #fff;
  color: #000;
}

/* Ward buttons */
a.ward-site {
  background-color: #fff;
  color: #01B477;
}
a.ward-site:hover {
  background-color: #01B477;
  color: #fff;
}
a.ward-source {
  background-color: #000;
  color: #fff;
}
a.ward-source:hover {
  background-color: #fff;
  color: #000;
}

/* Translator Buttons */
a.translator-source {
  background-color: #000;
  color: #fff;
}
a.translator-source:hover {
  background-color: #fff;
  color: #000;
}
a.translator-releases {
  background-color: #000;
  color: #fff;
}
a.translator-releases:hover {
  background-color: #fff;
  color: #000;
}

/* Bulb buttons (not being used yet) */
a.bulb-comingsoon {
  background-color: #ff6347;
  color: #fff;
}
a.bulb-comingsoon:hover {
  background-color: #fff;
  color: #ff6347;
}
